{% extends "base.html" %}

{% block content %}
    <p>Opublikowano: {{ question.pub_date|date:"Y-m-d H:i" }}</p>

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <!-- `url` złozy sobie adres "/polls/4/vote/" --> <!-- https://facebook.com/zmien_haslo/ -->
    <form action="{% url 'vote' question.pk %}" method="POST">
        {% csrf_token %}

    {% for choice in question.choice_set.all %}
    <label for="choice_{{ forloop.counter }}">
        <input type="radio" id="choice_{{ forloop.counter }}" name="choice" value="{{ choice.pk }}"> {{ choice.choice_text }}
    </label>
    <br>
    {% endfor %}

        <input type="submit" value="Głosuj!">
    </form>

    <p>Opcje wyboru:</p>
    {% if question.choice_set %}
    <ul>
        {% for choice in question.choice_set.all %}
        <li>{{ choice.choice_text }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Brak wyboru :(</p>
    {% endif %}

    <p><a href="{% url 'results' question.pk %}">Zobacz wyniki!</a></p>
{% endblock %}
